*{
    margin: 0;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: #F8F7F2;
}




main{
    margin: 50px 200px;
    margin-bottom: 150px;
    min-height: 500px;
}

h1{
    color: #96BB36;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    height: 30px;
}

h1::after{
    display: flex;
    flex-grow: 1;
    content: "";
    border-bottom: 1px solid silver;
    width: auto;
}

h2{
    color: #F0972A;
    height: 55px;
}

p{
    color: rgb(180, 180, 180);
}

.recipe-card{
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px #cccccc;
}

.food-img{
    width: 100%;
    height: 157px;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.aboute-food{
    margin: 20px 10px;
    margin-top: 0px;
    display: flex;
    justify-content: 10% 80% 10%;
    flex-direction: column;
    align-content: space-between;
}

.info{
    display: flex;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}

.time-people-like{
    float: right;
    display: flex;
    justify-content: flex-start;
}

.info p {
    align-items: center;
    margin-right: 15px;
    margin-left: 1px;
}

.hidden-container{
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
    position: fixed;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-card{
    display: flex;
    height: auto;
    max-height: 600px;
    width: 850px;
    background-color: white;
    border-radius: 30px;
    overflow: scroll;
    border-bottom: 20px solid white;
}

.hidden-card p{
    margin: 20px 20px;
}

.best-served{
    width: 350px;
    margin: 0px 0px;
    margin-top: 0px;
}


.close-container{
    border: none;
    background-color: white;
    display: flex;
    position: relative;
    float: right;
    
}

.type{
    position: relative;
    display: inline-block;
    top: -150px;
    left: 10px;
    background-color: #96BB36;
    border-radius: 15px;
    color: white;
    font-size: small;
    padding: 5px 5px;
}

.popup-img{
    width: 350px;
    margin: 20px 20px;
    margin-bottom: 0px;
}

.popup-title{
    margin: 20px 20px;
    margin-bottom: 10px;
    font-size: 35px;
}

.recipe-details{
    width: 350px;
    display: inline-block;
    margin: 20px 0px;
    margin-top: 0px;
    
}

h3{
    color: #96BB36;
    margin: 10px 20px;
    margin-top: 10px;
}

.content-in-card{
    height: 30%;
}

.card-short-description{
    height: 200px;
}

.arrows{
    width: 25px;
    height: 25px;
    background-color: #96BB36;
    justify-content: center;
    align-items: center;
    display: flex;
    float: right;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    
    
}

@media screen and (max-width: 600px){
    main{
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    h1{
        font-size: 20px;
        height: auto;
        margin: 20px 0px;
    }
    .recipe-card{
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: 10px 20px;
     }
    .grid-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }
    .food-img{
        width: 100%;
        height: 200px;
    }
    .type{
        position: relative;
        display: inline-block;
        top: -190px;
        background-color: #96BB36;
        border-radius: 15px;
        color: white;
        font-size: 15px;
        padding: 10px 10px;
    }
    h2{
        color: #F0972A;
        height: auto;
        font-size: 20px;
    }
    .card-short-description{
        height: auto;
        font-size: 15px;
    }
    .info{
        display: flex;
        width: 100%;
        height: auto;
        font-size: 20px;
        justify-content: space-between;
        align-items: center;
    }
    svg{
        width: 20px;
        height: auto;
    }
    .arrows{
        width: 25px;
        height: 25px;
        background-color: #96BB36;
        justify-content: center;
        align-items: center;
        display: flex;
        float: right;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        
        
    }
        .aboute-food{
            gap: 5px;
        }

}




